.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: lightblue;
}

.comment {
	-fx-fill: cadetblue;
}

.tag {
    -fx-fill: blue;
}
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.deleted {
    -rtfx-background-color: lightpink;
}

.inserted {
    -rtfx-background-color: lightgreen
}

.modified {
    -rtfx-background-color: yellow
}

